
.cardContainer {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
	width: 320px;
}

.cardContainer .card {
	position: relative;
	width: 400px;
	height: 400px;
	background: rgba(100, 51, 51, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(74, 47, 47, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.cardContainer .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.cardContainer .card:hover .content {
	transform: translateY(-40px);
}

.cardContainer .card .content .imgBx {
	position: relative;
	width: 280px;
	height: 220px;
	overflow: hidden;
}

.cardContainer .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardContainer .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.cardContainer .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.cardContainer .card .sci {
	position: absolute;
	bottom: 10px;
	display: flex;
    /* justify-content:space-between; */
}

.cardContainer .card .sci li {
	list-style: none;
	margin: 20px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
    margin-left: -5px;
}

.cardContainer .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.cardContainer .card .sci li a {
	color: #fff;
	font-size: 20px;
}
.cardContainer .card .sci li a:hover {
	color: #c85000;
	font-size: 20px;
}




