
@import url('https://fonts.googleapis.com/css?family=Oswald');
    a {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
    }
   
    li:hover{
      color: white;
      text-decoration: underline;
    }
.navbar{
    padding: 0;
    margin: 0;
} 
.navbar-nav li{
    margin: 0 29px ;
}
  